{% extends 'base.html' %}
{% block css %}
body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

{% endblock %}
{% block content %}

<div class="container p-4">
	<h4 class="display-4 p-3 text-center text-dark"> Update Your Profile</h4>
	<hr>
	{% if messages %}
		{% for i in messages %}
              {% if i.tags == 'error' %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						{{i}}
						<button type="button" class="close" data-dismiss="alert" aria-label="close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
	{% else %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{i}}
			<button type="button" class="close" data-dismiss="alert" aria-label="close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	<div class="row gutters">
		<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" style="height:fit-content">
			<div class="card h-100">
				<div class="card-body border border-info">
					<div class="account-settings">
						<div class="user-profile">
							<div class="user-avatar">
								<img src="media/avatar_imgs/avatar1.png" alt="Maxwell Admin">
							</div>
							<h5 class="user-name">{{user.username}}</h5>
							<h6 class="user-email">{{user.email}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 mb-4">
			<div class="card h-100">
				<div class="card-body border border-info">
					<form action="{% url 'profile_update' %}" method="post">
						{% csrf_token %}
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Personal Details</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
									<label for="fullName">First Name</label>
									<input type="text" class="form-control" id="fullName" placeholder="Enter First name" name="Fname" value="{{user.first_name}}">
							</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
									<label for="LastName">Last Name</label>
									<input type="text" class="form-control" id="LastName" placeholder="Enter Last name" name="Lname" value="{{user.last_name}}">
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
								<div class="form-group">
									<label for="eMail">Email</label>
									<input type="email" class="form-control" id="eMail" placeholder="Enter email ID" name="email" value="{{user.email}}">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
								<div class="form-group">
									<label for="eMail">Username</label>
									<input type="text" class="form-control" placeholder="Enter username" name="username" value="{{user.username}}">
								</div>
							</div>
							<div class="row mb-3">
								<div class="col">
									<button class="btn btn-success">Update</button>
								</div>
								<div class="col text-end">
									<a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}